<mat-form-field>
  <label>
    <input matInput [matDatepicker]="picker1" placeholder="Data przyjazdu" [formControl]="">
  </label>
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <label>
    <input matInput [matDatepicker]="picker2" placeholder="Data wyjazdu" [formControl]="">
  </label>
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
